@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lexend:wght@100..900&display=swap');

/* TODO soon: decide accent colors */
/* VARIABLES */
body {
    --text-color: rgb(248, 248, 248);
    --accent-primary: #43ffaf;
    --background-color: #1e1f1f;
}

/* GLOBALS */
* {
    font-family: "Comfortaa", sans-serif;

    margin: 0;
    padding: 0;
}

a {
    all: unset;
}

body, html {
    overflow-x: hidden;
    color: var(--text-color);
    scroll-behavior: smooth;

    background-color: var(--background-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.d-none {
    display: none;
}

.d-none-imp {
    display: none !important;
}

.d-initial {
    display: initial;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    font-family: "Lexend", sans-serif;
}

/* SELECTION */
::selection {
    color: rgb(28, 28, 28);
    background: whitesmoke;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-track {
    background: #5c5c5c;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
}

/*KEYBOARD FOCUS*/
*:focus-visible {
    outline: 1px solid white !important;
    outline-offset: 1px;
}

:focus {
    outline: none;
}

.hover-focus:hover {
    outline: 1px solid black !important;
}

.hover-focus-light:hover {
    outline: 1px solid white !important;
}

.prevent-select {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

html.scroll-lock {
    overflow-y: clip;
    scrollbar-gutter: stable;
    background: #333333;
}

.font-comfortaa {
    font-family: "Comfortaa", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-lexend {
    font-family: "Lexend", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.tooltip {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 90%;
    opacity: 0.3;
}

.tooltip > div {
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 2px;
    padding: 0.25rem 0.3rem;
    margin-bottom: 0.6rem;
    border: 2px solid var(--text-color);
    font-size: 0.85rem;
    font-weight: normal;
}

.ui-button {
    all: unset;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.2s;
}

body {
    --hover-blur: 0.3px;
    --hover-opacity: 1;
    --hover-scale: 1.025;
}

.ui-button:hover {
    filter: blur(var(--hover-blur));
    opacity: var(--hover-opacity);
    transform: scale(var(--hover-scale));
}

/* vanilla css mixins when */

.highlight-effect {
    filter: blur(var(--hover-blur));
    opacity: var(--hover-opacity);
    transform: scale(var(--hover-scale));
}